<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324164275235-5htb68p2ute0tcgo0c6nqm7topt460lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324164275235-5htb68p2ute0tcgo0c6nqm7topt460lv</string>
	<key>API_KEY</key>
	<string>AIzaSyAQCvo4OoCExY9YeIoq9NdqCPP8qQAjSIE</string>
	<key>GCM_SENDER_ID</key>
	<string>324164275235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TestApp</string>
	<key>PROJECT_ID</key>
	<string>test-app-90238</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-90238.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324164275235:ios:5171eef050b7b8cb303596</string>
</dict>
</plist>